:root {
    --color1: #ffffff;
    --color2: #18cfab;}

.Ham{
    width: 1290px;
}
.main-page
{
    width: 1920px;
    height: 1012px;
    margin: auto;
    background: url("../images/Sections background/section-1(header).jpg");
    display: block;
}
.header
{
    width: 1920px;
    height: 120px;
    margin: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    opacity: 0.6;
    filter: alpha(opacity=55);
    background-color:#5f5e59 ;
}
.logo-picture {
    color: var(--color1);
    font-family: ﻿﻿Montserrat,sans-serif;
    font-size: 40px;
    font-weight: bold;

}
.log-img {
    width: 60px;
    height: 65px;
    background-color: #18cfab;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-top: 35px;
    margin-right: 8px;
    margin-left: 389px;
    padding-top: 10px;
}

.log-text {

    font-family: ﻿﻿Montserrat,sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}
.logo-text{
    margin-top: 50px;
    font-family: ﻿﻿Montserrat,sans-serif;
    font-size: 18px;
    color: var(--color1);
    text-align: left;
    font-weight: bold;
}

.logo-text-1 {
 color: var(--color1);
}

.logo-text-2 {
    color: var(--color2);
    margin-right: 259px;
}

.top-menu ul li {
    height: 61px;
    margin-right: 10px;
    display: inline-block;
    list-style-type: none;
    margin-top :55px;
    justify-content: center;
    font-family: ﻿﻿Montserrat,sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #b8b8b8;

}
.icon{
    display: block;
    width: 22px;
    height: 22px;
    margin: 0;
}
.top-menu ul li:hover{
    color: var(--color2);
    border-bottom: var(--color2) 2px solid;
}

.header{
    margin-bottom: 246px;
}
.content{
    display: block;
    align-content: center;
    width: 1920px;
    margin: 0;
}
.content-1, .content-2{
    font-family: ﻿Montserrat,sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 45px;
}
.content-1{
    color: var(--color1);

}
.content-2{
    color: var(--color2);
}
.content-3 {
    font-family: ﻿Montserrat, sans-serif;
    font-size: 70px;
    color: var(--color1);
    text-align: center;
    margin-bottom: 35px;
    font-weight: bold;
}

.content-4 {
    font-family: ﻿Montserrat,sans-serif;
    font-size: 30px;
    color:#d4d4d4;
    text-align: center;
    margin-bottom: 142px;
}
.buttons{
    text-align: center;
}
.green,.blue {
    width: 166px;
    height:61px;
    font-family: ﻿Montserrat,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color:var(--color1) ;
    border-radius: 5px;
}
.green{
    background-color: var(--color2);
    margin-right: 28px;
}
.blue{
    background-color: #00cbf6;
}
.kinds-of-advantages {
    width: 1920px;
    display: flex;
    font-family: ﻿﻿Montserrat, sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.one {
    border-top: var(--color2) solid 7px;
    wrap-option: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 480px;
    height:374px;
    background-color: #1c2a33;
    color:var(--color2);

}
.two {
    border-top: var(--color1) solid 7px;
    wrap-option: 0 ;
    list-style-type: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    height:374px;
    background-color: var(--color2);
    color:var(--color1)  ;
}
.three{
    border-top: var(--color2) solid 7px;
    list-style-type: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    height:374px;
    background-color: #1c2a33;
    color:var(--color2)  ;
}
.four{
    border-top: var(--color1) solid 7px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 480px;
    height:374px;
    background-color: var(--color2);
    color:var(--color1)  ;
}
.hand{

    display: block;
    width:58px ;
    height:97px ;
    text-align: center;
    margin-bottom: 48px;
}
.bril{

    display: block;
    width:93px ;
    height:75px ;
    text-align: center;
    margin-bottom: 59px;
}

.lamp{

    display: block;
    width:60px ;
    height:96px ;
    text-align: center;
    margin-bottom: 49px;

}
.dev{

    display: block;
    width:99px ;
    height:76px ;
    text-align: center;
    margin-bottom: 59px;
}

/*Our Services*/
.services {
    width: 1920px;
    height: 1290px;
    display: block;
    justify-content: center;
    position: absolute;

}
.our-services {
    width: 1920px;
    height: 36px;
    font-family: ﻿Montserrat,sans-serif;
    font-size: 36px;
    color: #5a5a5a;
    text-align: center;
    display: block;
    position: relative;
    margin-top: 82px;
    margin-bottom: 37px;
}
.band-1, .band-2 {
    display: block;
    position: relative;
    justify-content: center;

    height: 2px;
    width: 76px;
    background-color: var(--color2);
}
.band-1{
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}
.band-2{
    margin-left: 929px;
    margin-bottom: 70px;
}
.kinds-of-services{
    width: 1170px ;
    height: 73px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}
.menu-of-services{
    list-style-type: none;

}
.kinds-of-services ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 193px;
    height: 70px;
    background-color: #f8fcfe;
    font-family: ﻿Montserrat-Regular,sans-serif;
    font-size: 16px;
    color: #717171;
    border:#eeeeef 1px solid ;
    position: relative;

}
.kinds-of-services ul li:hover{
    background-color: var(--color2);
    border:#18cfab 1px solid
}
.kinds-of-services ul li:hover::after{
    position: absolute;
    content: '\25BC';
    font-size: 18px;
    top: 24px;
    bottom: 35px;
    color:var(--color2) ;
    margin-top:44px;
}
.photo{
    width:194px;
    height:139px;
    margin-right: 20px;
    border:#5a5a5a 1px solid ;
}

.tabs-content{
    display: flex;
    width: 1170px;
    height: 139px;
    float: left;
    font-family: ﻿Montserrat,sans-serif;
    font-size: 17px;
    color: #777777;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 375px;
}

.services{
   margin-bottom: 105px;
}
.standart-products{
    margin-top: 580px;
    width: 1920px;
    height: 476px;
    background: url("../images/Sections background/section-2.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

  }
.text-1{
    font-family: ﻿Montserrat,sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: var(--color2);
    text-align: center;
    margin-bottom: 35px;
}
.text-2{
    font-family: ﻿﻿Montserrat,sans-serif;
    font-size:16px;
    font-weight: bold;
    color: #7f7e7e;
    text-align: center;
    margin-bottom: 76px;
}
.purchase {
    width: 165px;
    height: 51px;
    background-color: var(--color2);
    font-weight: bold;
    font-family: ﻿Montserrat,sans-serif;
    font-size: 13px;
    color: var(--color1);
    text-align: center;
    border-radius: 5px;
}
.band-3, .band-4 {
    display: block;
    position: relative;
    justify-content: center;
    height: 2px;
    width: 76px;
    background-color: var(--color2);
    margin-bottom: 3px;
}

.band-4 {
    margin-left: 910px;
    margin-right: auto;

}
/*Our Amazing Work*/
.amazing {
    width: 1920px;
    position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8fcfe;
    border-bottom: #e1e1e1 2px solid;
    margin-bottom: 84px;
    margin-left: auto;
    margin-right: auto;

}
.work-menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-menu-list {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    align-items: center;
    background-color: var(--color1);
}

.work-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 29px 20px 29px;
    font-size: 14px;
    color: #838484;
    text-align: center;
    border: 1px solid #eeeeef;
    cursor: pointer;
}

.work-menu-item:hover {
    border-top: 2px solid var(--color2);
    color: var(--color2);
    cursor: pointer;
}

.active-work {
    color: var(--color2);
    border-top: 2px solid var(--color2);
}
.work-gallery {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 71px;
    max-width: 1160px;
    margin-bottom: 71px;
}
.work-gallery-item {
    position: relative;
    margin: 0;
    padding: 0;

}

.work-gallery-item-hover {
    display: flex;
    justify-content: center;
    border-top: 3px solid var(--color2);
    flex-direction: column;
    align-items: center;
    opacity: 0;
    background-color: #f8fcfe;
    top: 0;
    position: absolute;
    height: 211px;
    width: 100%;
    transition: all .8s;
}

.work-gallery-item:hover .work-gallery-item-hover {
    opacity: 1;
}

.button-work-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 34px;
}

.button-work {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.button-work.white {
    margin-right: 5px;
    border: 1px solid var(--color2);
    background-color: #f8fcfe;
}

.button-work.blue {
    border: none;
    background-color: var(--color2);
}
.work-gallery-title-hover {
    padding-bottom: 14px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color2);
    text-transform: uppercase;
}

.work-gallery-title-item-hover {
    font-size: 16px;
    color: #838484;
}
.section-button {
    margin-bottom: 121px;
    width: 165px;
    height: 61px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color1);
    background-color: var(--color2);
    border: none;
    border-top: 4px solid var(--color1);
    border-radius: 4px;
}

.btn-img {
    margin-right: 16px;
}

.img-hidden{
    display: none;
}

/*Breaking News*/
.news {
    width: 1920px;
    height: 870px;
}
.amazing-image-post{
    width: 1290px;
    height: 610px;
    margin-left: auto;
    margin-right: auto;
}
.about-image{
    width:263px;
    height:208px;
}
.gallery-container{
    display: inline-block;
    margin-right: 28px;
    margin-bottom: 45px;
    text-decoration: none;
    width: 263px;
    position: relative;
    }

.text-container {
    width: 263px;
    height: 72px;
    display: inline-block;
    border: #eeefef 1px solid;
    background-color: #f8fcfe;
    position: relative;
}

.admin{
    padding-left: 17px;
}
.admin , .comment{
    width: 90px;
    display: block;
    text-align: left;
}

.description{

    font-family: ﻿﻿Montserrat-Bold,sans-serif;
    font-size: 18.5px;
    font-weight: bold;
    color: #717171;
    text-align: left;
    margin-bottom: 14px;
    margin-top:14px ;
    padding-left: 14px;
}
.admin{
    font-family: ﻿Montserrat-Light,sans-serif;
    font-size: 14px;
    color: #777777;
    text-align: left;
    border-right: #777777 1px solid;
}
.comment{
    font-family: ﻿Montserrat-Light,sans-serif;
    font-size: 14px;
    color: #777777;

}
.info{
    display: flex;
    justify-content: space-between;
}
.calendar {
    width: 67px;
    height: 67px;
    background-color: #203e38;
    font-family: ﻿Montserrat-Regular, sans-serif;
    font-size: 17px;
    color: var(--color1);
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;

}
.calendar:hover{
    background-color: var(--color2);
}
.description:hover{
    color: var(--color1);
}
.gallery-container:nth-child(1),
.gallery-container:nth-child(2),
.gallery-container:nth-child(3) {
    margin-bottom: 45px;
}


/*What People Say About theHam*/
.reviews{
    width: 1920px;
    height: 851px;
    background: url("../images/Sections background/section-3.jpg");
    margin-bottom: 97px;
    display: flex;
    flex-direction: column;
    justify-items: center;


}
.our-reviews{
    width: 1920px;
    height: 36px;
    padding-top: 98px;
    font-family: ﻿Montserrat,sans-serif;
    font-size: 36px;
    color: var(--color1);
    text-align: center;
    display: block;
    position: relative;
    margin-bottom: 31px;
}

.band-5, .band-6 {
    display: block;
    position: relative;
    justify-content: center;
    height: 2px;
    width: 76px;
    background-color: var(--color2);
}
.band-5{
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}
.band-6{
    margin-left: 929px;
    margin-bottom: 73px;
}
.icon-2{
    background: url("../images/other/icon2.png");
    width: 44px;
    height: 30px;
    color: var(--color2);
    align-items: center;
    display: flex;
    position: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;
}
.main{

    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    text-align: center;
    align-items: center;



}
.they-say{
    display: inline-block;
    width: 1100px;
    text-align: center;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat,sans-serif;
    font-size: 16px;
    color: #bbbbbb;
    margin-bottom: 43px;

}
.name{
    display: inline-block;
    width: 1100px;
    text-align: center;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat,sans-serif;
    font-size: 16px;
    color: var(--color2);
    margin-bottom: 10px;

}

.position{
    display: inline-block;
    width: 1100px;
    text-align: center;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Montserrat,sans-serif;
    font-size: 16px;
    color: #bbbbbb;

}
.sl-img ,.sl-img-big{
    border-radius: 50%;
    border: var(--color2) 2px solid;
    cursor: pointer;
}
.sl-img-big{
    width: 142px;
    height: 142px;
    margin-left: auto;
    margin-right: auto;

}

.sl-img{
    width: 60px;
    height: 60px;
    margin: 0 33px;
}
.sl-2{
    margin-top:40px;
}
.sl-text{
    display: inline-block;
    position: center;
    justify-content:center ;
    align-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

}
/*Gallery of best images*/
.best-images{
    width: 1920px;
    height: 1366px;
}
.img-gallery{
    width: 1920px;
    height: 36px;
    font-family: ﻿Montserrat,sans-serif;
    font-size: 36px;
    color: #4e4e4e;
    text-align: center;
    display: block;
    position: relative;
    margin-bottom: 26px;
}
.band-7, .band-8 {
    display: block;
    position: relative;
    justify-content: center;
    height: 2px;
    width: 76px;
    background-color: var(--color2);
}
.band-7{
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}
.band-8{
    margin-left: 929px;
    margin-bottom: 106px;}
.gallery-of-best-images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1105px;
    height: 978px;
    margin-bottom: 67px;
}
.submit-last{
    width: 165px;
    height: 61px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color1);
    background-color: var(--color2);
    border: none;
    border-top: 4px solid #ffffff;
    border-radius: 4px;
    margin-left: 878px;
    margin-bottom: 81px;

}

/* Footer */
footer {
    width: 1920px;
    text-align: center;
    background-color: #22353f;
}

.copyright {
    padding-top: 47px;
    padding-bottom: 47px;
    font-size: 14px;
    font-family: ﻿Montserrat,sans-serif;
    color: #636d73;
    border-bottom: var(--color1) 11px solid;;
}

.copyright-color {
    color: var(--color2);
}
